<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbc.JDBCDriver</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:mem</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <mapping class="ru.kirkazan.itis2014spring.pci.dao.Patient"/>

        <mapping class="ru.kirkazan.itis2014spring.pci.dao.Organization"/>
        <mapping class="ru.kirkazan.itis2014spring.pci.dao.Address"/>
        <mapping class="ru.kirkazan.itis2014spring.pci.dao.Document"/>
        <mapping class="ru.kirkazan.itis2014spring.pci.dao.TypeDocuments"/>
        <mapping class="ru.kirkazan.itis2014spring.pci.dao.TypeAddress"/>
        <mapping class="ru.kirkazan.itis2014spring.pci.dao.TypeOrganization"/>
        <mapping class="ru.kirkazan.itis2014spring.pci.dao.Registration"/>
        <mapping class="ru.kirkazan.itis2014spring.pci.dao.Document"/>

    </session-factory>

</hibernate-configuration>